{% extends "base.html" %}

{% block titulo %}
Editar
{% endblock titulo %}

{% block conteudo %}
    <h2>Editar usuário</h2>

    <form method="POST">
        <label>Nome: </label>
        <input type="text" name="nome" value="{{usuario.nome}}">
        <br><br>
        <label>Email:</label>
        <input type="email" name="email" value="{{usuario.email}}">
        <br><br>
        <label>Idade:</label>
        <input type="number" name="idade" value="{{usuario.idade}}">
        <br><br>
        <label>Cidade</label>
        <input type="text" name="cidade" value="{{usuario.cidade}}">
        <br><br>
        <button type="submit">Salvar Alterações</button>
    </form>

{% endblock %}