{% extends "base.html" %}

{% block titulo %}
Usuários
{% endblock %}

{% block conteudo %}

<h2>Usuários cadastrados</h2>

<table class="tabela">
    <thead style="background-color: blue; color: white;">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}

        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.idade}}</td>
            <td>{{usuario.cidade}}</td>
            <td>
                <a href="{{ url_for('usuarios.editar', id=usuario.id) }}" class="botao botao-editar" style="text-decoration: none;">Editar</a>
                <form action="{{ url_for('usuarios.excluir', id=usuario.id) }}" method="POST" class="form-excluir""
                    onsubmit="return confirm('Deseja realmente excluir este usuário?')">
                    <button type="submit" class="botao botao-excluir">Excluir</button>
                </form>
            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}